body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F8F8F8;
}

.ui.secondary.menu .active.item {
  background: #FFF;
}

#pickupDropdown, #shippingTimeDropdown {
  margin-top: 10px;
}

.cartRemoveIcon:hover {
  opacity: 0.3;
}

#tr-footer{
  height: 30px;
  width:100%;
  background:transparent;
}

#pickupLocationInstructions {
  margin-bottom: 30px;
}


@media screen and (min-width: 800px) {
  #imageContainer {
    width: 27%;
    height: 27%;
  }

  #pickupLocationInstructions {
    margin-bottom: 0px;
  }

  .ui.modal {
    width: 450px;
    margin: 0;
  }

  #tr-footer{
    height: 20px;
    width:100%;
    background:transparent;
  }

  #confirmContainer {
    margin-top: 20px;
  }
}
